body{
    padding-top: 40px;
    /*background-color: #ffb6c1;*/
    font-size: 14px;
}
.fontie{
    font-family: sofia;
    font-size: 18px;
}
#my-well{
    margin-top: 9px;
}
#map-container{
    height: 330px;
    width: 100%; margin-top: 40px; margin-bottom: 40px;
}
.info-window {
    font-family: 'Montserrat', sans-serif;
    margin-top: 12%;
}
